.Topnav {
    background-color: #A89D7F;
    margin-top: 0px;
    align-items: center;
    border-top: 1px solid black;
}

.Btn {
    display: inline;
    text-align: center;
    margin: 0px 5px;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
